<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
    <link rel="icon" type="imagem/png" href="~/Content/img/icone_moto.png" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Order/order.js"></script>
    <link href="~/Content/Order/Order.css" rel="stylesheet" />
</head>
<body>
    <div class="totem">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        Cardápio:
                    </label>
                    <select id="selectedItem" class="form-control">
                        <optgroup label="Matar a Fome">
                            <option>Selectione um Lanche</option>
                            <option value="38">Lanche de Carne</option>
                            <option value="47">Lanche de Frango</option>
                            <option value="53">Hamburguer Caseiro</option>
                            <option value="120">Batata Holandesa</option>
                        </optgroup>
                        <optgroup label="Beber">
                            <option value="14">Suco Natural</option>
                            <option value="4">Refri</option>
                        </optgroup>
                        <optgroup label="Sobremesa">
                            <option value="24">Sorvete</option>
                            <option value="29">Pudim</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group">
                    <label>
                        Quantidade:
                    </label>

                    <button id="lessQtd" class="btn btn-default"> - </button>
                    <label id="quantity">1</label>
                    <button id="moreQtd" class="btn btn-default"> + </button>
                    <label id="totalPrice"></label>
                    <input type="text" id="price" hidden>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="addItemList">Adicionar Item</button>
                </div>

            </div>
            <div class="col-lg-4">


                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lanche</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody id="preListOrder">
                    </tbody>
                </table>

                <hr />

                <div class="form-group">

                    <label id="totalPriceListOrder"></label>
                </div>
                <div class="form-group">
                    <button id="clearPreListOrder" class="btn btn-default">Limpar</button>
                    <button id="addOrder" class="btn btn-success">Finalizar Pedido</button>

                </div>
            </div>
        </div>
        <hr>
        <div>


            <a href="/Kitchen/Index" class="btn btn-primary" id="checkOrders">Acompanhar Pedidos</a>
        </div>
    </div>
</body>
</html>
